# 1. Crea una cuenta gratis en https://www.themoviedb.org/
# 2. Ve a Configuración > API y solicita una "API Key (v3 auth)" (aprobación instantánea)
# 3. Copia este archivo como ".env" y pega tu key abajo
VITE_TMDB_API_KEY=tu_api_key_aqui
